.checkbox-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  line-height: 1.71;
}

.checkbox__sticker {
  position: relative;
  height: 24px;
}

.checkbox__entry {
  position: absolute;
  visibility: hidden;
}

.checkbox__icon {
  position: absolute;
  left: 0;
  width: 16px;
  height: 15px;
  user-select: none;
  fill: #212121;
  background-color: #fff;
}

.checkbox__svg {
  position: relative;
  width: 11px;
  height: 8px;
  left: 3px;
  bottom: 5px;
  z-index: 3;
}

.checkbox__entry:checked + svg {
  background-color: #2196f3;
  border-radius: 2px;
  fill: #2196f3;
  transition: 0ms;
}
.checkbox__entry ~ svg:nth-of-type(2) {
  visibility: hidden;
}

.checkbox__entry:checked ~ svg:nth-of-type(2) {
  visibility: visible;
}

.checkbox a,
.checkbox:hover a {
  color: #2196f3;
}

.checkbox__comment {
  position: relative;
  bottom: 4px;
  margin-left: 7px;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.checkbox__button {
  position: relative;
  display: flex;
  top: 30px;
  margin: auto;
  padding: 10px 76px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  color: #fff;
  background-color: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
}
