.projects__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.projects__name {
  color: var(--projectname-color);
  margin: 0;
  padding-left: 24px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.projects__title {
  color: var(--contact-color);
  padding-left: 24px;
  padding-top: 4px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.875;
  margin: 0;
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  row-gap: 30px;
  padding-bottom: 94px;
}

.projects__box {
  flex-basis: 370px;
  margin: 0 auto;
  list-style: none;
  border: 1px solid var(--border-line);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
  &:hover .projects__description {
    transform: translateY(0);
  }
}

.projects__description {
  position: absolute;
  display: flex;
  padding: 49px 45px 49px 24px;
  height: 101%;
  top: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  font-family: "Roboto";
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__photo {
  position: relative;
  overflow: hidden;
}
