:root {
  --hover-color: #2196f3;
  --footer-color: #ffffff;
  --logo-color: #000000;
  --menu-color: #212121;
  --contact-color: #757575;
  --footer-contact-color: #ffffff99;
  --background-color: #2f303a;
  --button-bacground-color: #f5f4fa;
  --projectname-color: #212121;
  --border-line: #eee;
}
